@import url("antd/dist/antd.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c111b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  background-color: #0c111b;
}

body {
  background-color: #0c111b;
  color: white;
}

.container {
  max-width: 1400px;
  @apply mx-auto px-4;
}

.primary-color {
  color: #5c91fc;
}

.ant-table-thead > tr > th {
  background: #141e31;
  color: #5c91fc;
  &:hover {
    background: #0c111b !important;
  }
}

.ant-table-row {
  background: #141e31;
  color: white;
}
.ant-table-cell-fix-left,
.ant-table-cell-fix-right {
  background: #141e31;
  color: white;
}
.ant-table-tbody > tr.ant-table-row:hover > td,
td.ant-table-column-sort,
.ant-table-thead th.ant-table-column-sort {
  background: #0c111b !important;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  border-bottom: 1px solid black !important;
}
.ant-table {
  background: #0c111b;
}
.card__bg {
  background: #141e31;
}

.selected {
  color: #5c91fc;
  border-bottom: 3px solid #5c91fc;
}
.vaccine {
  height: 70vh;
}

.footer {
  border-top: 1px solid #5c91fc;
}
